aiohttp==3.8.4
aiosignal==1.3.1
altair==4.2.2
appdirs==1.4.4
appnope==0.1.3
asttokens==2.2.1
async-timeout==4.0.2
attrs==23.1.0
backcall==0.2.0
beautifulsoup4==4.12.2
blinker==1.6.2
cachetools==5.3.0
certifi==2023.5.7
charset-normalizer==3.1.0
click==8.1.3
contourpy==1.0.7
cramjam==2.7.0
cssselect==1.2.0
cvxpy==1.3.1
cycler==0.11.0
cypari==2.5.4
dataclasses-json==0.5.7
decorator==5.1.1
ecos==2.0.12
entrypoints==0.4
et-xmlfile==1.1.0
executing==1.2.0
Faker==18.9.0
fastparquet==2023.7.0
favicon==0.7.0
fonttools==4.39.4
frozendict==2.3.8
frozenlist==1.3.3
fsspec==2023.6.0
FXrays==1.3.5
gitdb==4.0.10
GitPython==3.1.31
htbuilder==0.6.1
html5lib==1.1
idna==3.4
importlib-metadata==6.6.0
ipython==8.14.0
jedi==0.19.0
Jinja2==3.1.2
jsonschema==4.17.3
kiwisolver==1.4.4
knot-floer-homology==1.2
langchain==0.0.184
low-index==1.2
lxml==4.9.2
Markdown==3.4.3
markdown-it-py==2.2.0
markdownlit==0.0.7
MarkupSafe==2.1.2
marshmallow==3.19.0
marshmallow-enum==1.5.1
matplotlib==3.7.1
matplotlib-inline==0.1.6
mdurl==0.1.2
more-itertools==9.1.0
multidict==6.0.4
multitasking==0.0.11
mypy-extensions==1.0.0
networkx==3.1
nfl-data-py==0.3.0
numexpr==2.8.4
numpy==1.24.3
openai==0.27.7
openapi-schema-pydantic==1.2.4
openpyxl==3.1.2
osqp==0.6.3
packaging==23.1
pandas==2.0.1
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.5.0
plink==2.4.2
prompt-toolkit==3.0.39
protobuf==3.20.3
ptyprocess==0.7.0
pure-eval==0.2.2
pyarrow==12.0.0
pydantic==1.10.8
pydeck==0.8.1b0
Pygments==2.15.1
pymdown-extensions==10.0.1
Pympler==1.0.1
pyparsing==3.0.9
pypng==0.20220715.0
pyportfolioopt==1.5.5
pyquery==2.0.0
pyrsistent==0.19.3
python-dateutil==2.8.2
python-decouple==3.8
python-snappy==0.6.1
pytz==2023.3
pytz-deprecation-shim==0.1.0.post0
PyYAML==6.0
qdldl==0.1.7
requests==2.31.0
requests-futures==1.0.1
rich==13.3.5
scipy==1.10.1
scs==3.2.3
six==1.16.0
smmap==5.0.0
snappy==3.1.1
snappy-manifolds==1.2
soupsieve==2.4.1
spherogram==2.2.1
sportsipy==0.6.0
sportsreference==0.5.2
SQLAlchemy==2.0.15
st-annotated-text==4.0.0
stack-data==0.6.2
streamlit==1.24.1
streamlit-aggrid==0.3.4.post3
streamlit-camera-input-live==0.2.0
streamlit-card==0.0.4
streamlit-chat==0.0.2.2
streamlit-embedcode==0.1.2
streamlit-extras==0.2.7
streamlit-faker==0.0.2
streamlit-image-coordinates==0.1.3
streamlit-keyup==0.2.0
streamlit-toggle-switch==1.0.2
streamlit-vertical-slider==1.0.2
tabulate==0.9.0
tenacity==8.2.2
toml==0.10.2
toolz==0.12.0
tornado==6.3.2
tqdm==4.65.0
traitlets==5.9.0
typing-inspect==0.9.0
typing_extensions==4.6.1
tzdata==2023.3
tzlocal==4.3.1
urllib3==2.0.2
validators==0.20.0
wcwidth==0.2.6
webencodings==0.5.1
yahooquery==2.3.1
yarl==1.9.2
yfinance==0.2.23
zipp==3.15.0
